html, body{
  margin: 0;
  padding: 0;
  width: 100%;
}
#container{
  width: 100vw;
  height: 100vh;
  background: lightgreen;
  margin: 0;
  padding: 0;
}

#player1{
  width: 100px;
  height: 100px;
  background: blueviolet;
  position: absolute;
  margin: 0;
  padding: 0;
}

#phantom{

}

.bomb{
  width: 50px;
  height: 50px;
  background-color : red;
  border-radius: 100%;
  position: absolute;
}
