body{
  margin: 0;
  padding: 0;
  width: 100%;
}
#map{
  width: 100vw;
  height: 100vh;
  background: lightgreen;
}

#player1{
  width: 100px;
  height: 100px;
  background: blueviolet;
  position: absolute;
}

#phantom{

}
